<div ng-controller="BorderController as borderCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> Did You Know?</div>
        <div class="panel-body">
            There are {{borderCtrl.islands}} island countries in the world! To see a list, select the lowest setting below!
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> Did You Know?</div>
        <div class="panel-body">
            The maximum number of countries a single country borders is {{borderCtrl.maxBorders}}! To find out more, select the highest setting below!
        </div>
    </div>

    <input type="range" ng-model="borderCtrl.bordersRange" min="0" max="{{borderCtrl.maxBorders}}" ng-change="borderCtrl.updateCountries()" />

    <uib-accordion>
        <uib-accordion-group heading="{{country.name}}" ng-repeat="country in borderCtrl.countries">
            Bordering Countries:
            <div ng-repeat="borderCountry in country.borders">
                <div class="listed-country" uib-popover-html="borderCtrl.relevant[borderCountry].details" popover-placement="right" popover-trigger="mouseenter">{{borderCtrl.relevant[borderCountry].name}}</div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>